<div class="row">
  <div class="col-12">
    <h1>Blocipedia</h1>
    <h3>Your go to blog spot!</h3>
    <% if !user_signed_in? %>
      <% link_to "Sign_up", new_user_registration_path, :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
