<h1>Edit wiki</h1>
<div class="row">
  <div class="col-md-4">
    <p>Guidelines</p>
    <ul>
      <li>Be as descriptive as possible</li>
      <li>Make sure to format the information input</li>
      <li>Markdown language is supported</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>
